.header {
   padding: 1% 0;
   border-bottom: 1px solid;
   margin-bottom: 3%;

   &__logo {
      margin: 0 auto;
   }
}

.checkout {
   padding: 2% 3%;
   box-shadow: 0 2px 5px rgba(48, 48, 48, .05);

   &-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &-information {
      width: 50%;
   }

   &__title {
      margin-bottom: 5%;
   }

   &-cart {
      flex: 1 1 0;
      padding: 3%;
      box-shadow: 0 2px 8px hsla(0, 0%, 57.3%, .5);
      max-width: 100%;

      &__item {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 5%;
         max-height: 220px;
         max-width: 100%;
         border-bottom: 1px solid #eaeaea;

         img {
            max-width: 150px;
            height: 220px;
         }

      }

      &__brand {
         font-family: 'Roboto';
         text-transform: uppercase;
         letter-spacing: 0.05em;
         font-weight: bold;
         font-size: 14px;
      }

      &__input {
         width: 60px;
         height: 40px;
         margin: 0 10px;
         text-align: center;
         border: 1px solid #ccc;
      }

      &__buttons {
         display: flex;
         align-items: center;
      }

      &__title {
         margin-bottom: 5%;
      }

      &__price {
         font-weight: bold;
         min-width: 80px;
      }

      &__delete {
         color: red;
      }

      &-info {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      &-result {
         display: flex;
         width: 50%;
         justify-content: flex-end;

         &__cost {
            border: 1px solid #d8d6d4;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            height: auto;
            flex-wrap: wrap;
            margin-right: 5%;

            span {
               display: inline-block;
               margin-left: 4px;
            }
         }

         &__button {
            font-size: 14px;
            background: #364ab3;
            color: #fff;
            height: 60px;
            font-weight: bold;
            width: 100%;
            max-width: 160px;
         }
      }


   }

}

.fa-minus,
.fa-plus {
   color: #5285cc;
   cursor: pointer;
   font-size: 20px;
}

.disabled {
   color: #e0e0e0;
}

@media screen and (max-width: 768px) {
   .header {
      position: static;
   }
}

.hide {
   display: none;
   visibility: hidden;
}