//MIXINS

$color: #1B1A17;
//MIXINS

.btn {
   color: inherit;

   &:hover {
      color: #fff;
      background-color: #000;
   }
}

.header {
   padding-top: 2%;
   color: #555248;
   font-size: 14px;
   margin: 0 auto;
   max-width: inherit;

   &-menu {
      display: flex;
   }

   &-buttons {
      display: flex;
      justify-content: space-between;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-container {
         display: flex;
         justify-content: space-between;
         max-width: 60px;
         width: 15%;
      }
   }

   .nav {
      max-width: 430px;
      width: 100%;


      &-list {
         display: flex;
         max-width: 430px;
         width: 100%;
         justify-content: space-between;

         &__item_active {
            color: #A69876;
         }
      }
   }
}

#main {
   padding-top: 5%;

   .container {
      padding: 0px 3.421%;
   }
}

.pages {
   font-size: 14px;
   color: #B3B3B3;

   @media screen and (max-width: 420px) {
      padding-top: 15%;
   }

   &-list {
      display: flex;
      flex-wrap: wrap;

      &__item {
         position: relative;
         margin-right: 31px;
         font-weight: 500;

         &_active {
            color: #555248;
         }

         &:last-child {

            &:before,
            &:after {
               display: none;
            }
         }

         &:before {
            content: '';
            display: inline-block;
            width: 7px;
            position: absolute;
            height: 1px;
            background-color: #BDB9B5;
            right: -20px;
            top: 30%;
            transform: rotate(45deg);
         }

         &:after {
            content: '';
            display: inline-block;
            width: 7px;
            position: absolute;
            height: 1px;
            background-color: #BDB9B5;
            right: -20px;
            bottom: 40%;
            transform: rotate(-45deg);
         }
      }
   }
}


.catalog {
   padding-bottom: 6%;
   color: $color;

   &-select-container {
      display: flex;
      align-items: center;

      p {
         margin-right: 5px;
         color: #BDB9B5;
      }
   }

   &-container {
      display: flex;

      @media screen and (max-width: 768px) {
         flex-wrap: wrap;
         justify-content: center;

      }
   }

   &-filters {
      font-size: 12px;
      color: $color;
      display: none;

      @media screen and (max-width: 768px) {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         flex-wrap: wrap;
         border-bottom: 1px solid #eaeaea;
         padding-bottom: 10px;

      }

      &__select {
         font-size: 15px;
         border: 0;
      }
   }

   &-pagination {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
         justify-content: center;
      }

      &-list {
         display: flex;
         margin: 0 15px;
         width: 80px;
         justify-content: space-between;

      }
   }

   #filter-slider {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 50vw;
      height: 1.2px;
      background-color: $color;

   }

   #left-button {
      top: -5px;
      left: 10%;
   }

   #right-button {
      top: -5px;
      left: 70%;
   }

   .filter-slider__dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid $color;
      display: inline-block;
      background-color: #fff;
      position: absolute;
      z-index: 5;
   }

   &-filter {
      height: fit-content;
      width: 20%;

      &-slider {
         margin: 5% 0;

         &__amount {
            display: flex;
            justify-content: space-around;
         }

         &__min {
            width: 40%;
            border: 1px solid #e5e6e7;
            padding: 2% 5%;

         }

         &__max {
            width: 40%;
            border: 1px solid #e5e6e7;
            padding: 2% 5%;
         }

      }

      @media screen and (max-width: 768px) {
         width: 90%;
      }

      &-label {
         margin: 5% 0;

         input:checked+label:before {
            background-color: $color;
            color: #fff;
         }

         input {
            position: absolute;
            left: -100vw;
         }

         label {
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            color: #353b41;

            &:before {
               font-family: 'FontAwesome';
               content: "\f00c";
               display: inline-block;
               width: 15px;
               height: 15px;
               margin-right: 10px;
               border: 1px solid #353b41;
               border-radius: 1px;
               line-height: 15px;
               font-size: 12px;
               text-align: center;
               color: #0000;
               vertical-align: middle;
            }

         }


      }

      &-title {
         margin: 3.2% 0;

      }

      &__button {
         display: inline-block;
         width: 10px;
         height: 1px;
         margin-top: 5px;
         background-color: $color;
         position: absolute;
         right: 0;
         top: 0.4%;

         &:after {
            content: '';
            display: block;
            width: 10px;
            height: 1px;
            background-color: $color;
            transform: rotate(90deg);
         }

      }

      &-item {
         position: relative;
         margin-bottom: 8%;
      }

      &__title {
         cursor: pointer;
         font-size: 14px;
         font-weight: 500;

      }

      &__reset {
         color: #1D1A1A;
         font-size: 12px;
         font-weight: 500;
         letter-spacing: 0.05em;
         border: 2px solid #E7E0CF;
         width: 100%;
         height: 60px;


      }

      &__button_active {
         display: inline-block;
         width: 10px;
         height: 1px;
         margin-top: 5px;
         background-color: $color;
         position: absolute;
         right: 0;
         top: 0.4%;


         &:after {
            display: none;
         }
      }

      &__filter {
         color: #1B1A17;
         font-size: 20px;
         border: 1px solid #1B1A17;
         padding: 5px;
         margin: 0 auto;
         display: none;
      }
   }

   &-items {
      flex: 1 1 0;
      margin-left: 8.10%;


      @media screen and (max-width: 768px) {
         padding: 0;
         margin-left: 0;
      }

      &__brand {
         font-family: 'Roboto';
         text-transform: uppercase;
         letter-spacing: 0.05em;
         font-weight: bold;
         font-size: 14px;
         margin-bottom: 5px;
      }

      &__price {
         font-size: 14px;
      }

      &-list {
         display: flex;
         flex-wrap: wrap;
         margin-bottom: 5%;
         border-left: 1px solid #eaeaea;
      }

      &__arrow {
         display: flex;
         width: 92%;
         height: auto;
         align-items: flex-start;
         justify-content: flex-end;
         margin-bottom: 2%;

         @media screen and (max-width: 768px) {
            display: none;
         }

         &-filter {
            color: #BDB9B5;
         }
      }

      &-item {
         width: 33.3%;
         padding: 20px;
         max-height: 300px;
         border-right: 1px solid #eaeaea;
         border-bottom: 1px solid #eaeaea;
         font-family: 'Roboto';

         @media screen and (max-width: 1050px) {
            width: 50%;
         }

         @media screen and (max-width: 420px) {
            width: 100%;

            .catalog-items-social {
               right: 0;
            }
         }
      }

      &-container {
         display: block;
         position: relative;
         max-width: 252px;
         margin: 0 auto;
      }

      img {
         margin: 0 auto;
         display: block;
         width: auto;
         max-height: 265px;
         height: 100%;
         object-fit: cover;
      }

      &-buttons {
         display: flex;
         justify-content: space-between;
      }

      &-social {
         display: flex;
         justify-content: space-between;
         width: 50px;
         position: absolute;
         z-index: 5;
         top: 1%;
         right: 0%;

         button {
            position: relative;
            z-index: 10;


         }
      }
   }
}

@media screen and (max-width: 768px) {
   .catalog {
      &-filter {

         &_disable {
            margin-bottom: 20px;
            position: absolute;
            background: #fff;
            z-index: 20;

            @media screen and (max-width: 768px) {
               display: none;
            }
         }


      }

      &-filters {
         margin-bottom: 15px;



         &__filter {
            display: flex;
            border: 2px solid #E7E0CF;
            padding: 10px;

            i {

               &:before {
                  color: #69c;
                  font-size: 18px;
                  margin-left: 5px;

               }
            }
         }
      }

   }
}

.subscription {
   padding: 6% 0;
   background-image: url(../img/back3.jpg);
   background-size: cover;
   background-position: right;
   background-repeat: no-repeat;

   .container {
      padding: 0 3.421% 0 13%;
   }

   &__description {
      font-size: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #818181;
      margin-bottom: 1.5%;
   }

   &-form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      @media screen and (max-width: 980px) {
         flex-direction: column;
         align-items: unset;
      }

      &__container {
         display: flex;
         justify-content: space-between;
         max-width: 495px;
         width: 100%;

         @media screen and (max-width: 420px) {
            flex-direction: column;
         }
      }

      &__title {
         max-width: 42%;
         font-weight: bold;
         font-size: 40px;
         letter-spacing: 0.03em;
         color: #1B1A17;

         @media screen and (max-width: 980px) {
            max-width: 100%;
            margin-bottom: 5%;
            font-size: 35px;
         }
      }

      &__input {

         max-width: 278px;
         width: 100%;
         font-size: 14px;
         border: 0;
         border-bottom: 1px solid #31302C;
         background: initial;
         color: #444240;

         @media screen and (max-width: 980px) {
            width: 50%;
         }

         @media screen and (max-width: 420px) {
            margin-bottom: 5%;
            max-width: none;
            width: 100%;

         }
      }

      &__btn {
         width: 185px;
         height: 60px;
         background-color: #31302C;
         color: #fff;
         letter-spacing: 0.05em;

         @media screen and (max-width: 420px) {
            width: 100%;
         }
      }
   }
}

.bands {
   padding: 5% 0;

   &-introduction {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 3.4%;
   }

   &-catalog {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-item {
         width: 31%;
         padding: 20px 20px;
         background: #e5e5ff33;

      }
   }

   &-items {

      &-container {
         position: relative;


         img {
            display: block;
            margin: 0 auto;
            max-height: 290px;
            height: 100%;
            object-fit: cover;
         }
      }

      &-social {
         display: flex;
         position: absolute;
         z-index: 15;
         top: 1%;
         right: 0;
         width: 50px;
         justify-content: space-between;
      }

      &__brand {
         margin-bottom: 5px;
         font-family: 'Roboto';
         text-transform: uppercase;
         letter-spacing: 0.05em;
         font-weight: bold;
         font-size: 14px;
      }

      &__price {
         font-size: 14px;
      }

   }

   &__all {
      padding-bottom: 5px;
      border-bottom: 1px solid #C4C0B6;
   }

}

.elem:hover {
   animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}

@keyframes trambling-animation {

   0%,
   50%,
   100% {
      transform: rotate(0deg);
   }

   10%,
   30% {
      transform: rotate(-10deg);
   }

   20%,
   40% {
      transform: rotate(10deg);
   }
}

.like {
   fill: #1B1A17;
   stroke: #1B1A17;

   &:hover {
      stroke: red
   }
}

.svg-heart {
   fill: #1B1A17;
   stroke: #1B1A17;

   &:hover {
      stroke: red;
   }
}

.redFill {

   stroke: red;
}

.show {
   display: block;

}

.disabled {
   opacity: 0.5;
}

.hide {
   display: none;
   visibility: hidden;
}

.ui-slider {


   &-range {
      background-color: #1B1A17;
   }
}

.ui-widget-header {
   background-color: #1B1A17;
}

#slider-range {
   max-width: 90%;
   width: 90%;
   height: 1px;
   margin: 0 auto;
   border: 0;
   background-color: #D4D4D4;
   margin-bottom: 5%;
}

.menu-wrap {
   position: fixed;
   top: 0;
   left: 2%;
   z-index: 1;
   display: none;
}

.menu-wrap .toggler {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   cursor: pointer;
   width: 50px;
   height: 50px;
   opacity: 0;
}

.menu-wrap .hamburger {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 50px;
   height: 50px;
   padding: 1rem;
   background: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
   position: relative;
   flex: none;
   width: 100%;
   height: 2px;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
   content: '';
   position: absolute;
   z-index: 1;
   top: -10px;
   width: 100%;
   height: 2px;
   background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
   top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
   transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
   top: 0;
   transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
   transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
   visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
   transform: scale(1);
   transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
   opacity: 1;
   transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.menu-wrap .menu>div {
   background: #182733d9;
   width: 200vw;
   height: 200vh;
   display: flex;
   flex: none;
   align-items: center;
   justify-content: center;
   transform: scale(0);
   transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
   text-align: center;
   max-width: 90vw;
   max-height: 100vh;
   opacity: 0;
   transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
   list-style: none;
   color: #fff;
   font-size: 1.5rem;
   padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
   color: inherit;
   text-decoration: none;
   transition: color 0.4s ease;
}

@media screen and (max-width: 768px) {

   .header {
      position: fixed;
      z-index: 20;
      height: 41px;
      padding: 1% 0;
      background-color: #fff;

      &-buttons__logo {
         margin: 0 auto;
      }



      &-menu {
         height: 100%;
      }
   }

   .menu-wrap {
      display: block;

      .toggler {
         height: 41px;
      }

      .hamburger {
         height: 41px;
      }

   }

   .nav {
      display: none;
      visibility: hidden;
   }

   .pages {
      padding-top: 5%;
      margin-bottom: 10%;
   }

   .catalog-filter-title {
      margin-bottom: 7%;
   }

   .catalog-filters {
     flex-direction: column;
   }

   .catalog-filters_-filter {
      margin-bottom: 5%;
   }
}

@media screen and (max-width: 420px) {

   .pages {
      padding-top: 15%;
   }


   .catalog-filters__filter {
      margin-bottom: 10%;
   }

   .catalog-select-container {
      flex-wrap: wrap;
      justify-content: center;
   }
}