.btn {
  color: inherit;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.header {
  padding-top: 2%;
  color: #555248;
  font-size: 14px;
  margin: 0 auto;
  max-width: inherit;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-buttons-container {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav {
  max-width: 430px;
  width: 100%;
}

.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 430px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-list__item_active {
  color: #A69876;
}

#main {
  padding-top: 5%;
}

#main .container {
  padding: 0px 3.421%;
}

.pages {
  font-size: 14px;
  color: #B3B3B3;
}

.pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pages-list__item {
  position: relative;
  margin-right: 31px;
  font-weight: 500;
}

.pages-list__item_active {
  color: #555248;
}

.pages-list__item:last-child:before, .pages-list__item:last-child:after {
  display: none;
}

.pages-list__item:before {
  content: '';
  display: inline-block;
  width: 7px;
  position: absolute;
  height: 1px;
  background-color: #BDB9B5;
  right: -20px;
  top: 30%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pages-list__item:after {
  content: '';
  display: inline-block;
  width: 7px;
  position: absolute;
  height: 1px;
  background-color: #BDB9B5;
  right: -20px;
  bottom: 40%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog {
  padding-bottom: 6%;
  color: #1B1A17;
}

.catalog-select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-select-container p {
  margin-right: 5px;
  color: #BDB9B5;
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .catalog-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog-filters {
  font-size: 12px;
  color: #1B1A17;
  display: none;
}

@media screen and (max-width: 768px) {
  .catalog-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
  }
}

.catalog-filters__select {
  font-size: 15px;
  border: 0;
}

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .catalog-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog #filter-slider {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 50vw;
  height: 1.2px;
  background-color: #1B1A17;
}

.catalog #left-button {
  top: -5px;
  left: 10%;
}

.catalog #right-button {
  top: -5px;
  left: 70%;
}

.catalog .filter-slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #1B1A17;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  z-index: 5;
}

.catalog-filter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
}

@media screen and (max-width: 768px) {
  .catalog-filter {
    width: 90%;
  }
}

.catalog-filter-label {
  margin: 5% 0;
}

.catalog-filter-label input:checked + label:before {
  background-color: #1B1A17;
  color: #fff;
}

.catalog-filter-label input {
  position: absolute;
  left: -100vw;
}

.catalog-filter-label label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #353b41;
}

.catalog-filter-label label:before {
  font-family: 'FontAwesome';
  content: "\f00c";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #353b41;
  border-radius: 1px;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: #0000;
  vertical-align: middle;
}

.catalog-filter-title {
  margin: 3.2% 0;
}

.catalog-filter__button {
  display: inline-block;
  width: 10px;
  height: 1px;
  margin-top: 5px;
  background-color: #1B1A17;
  position: absolute;
  right: 0;
  top: 0.4%;
}

.catalog-filter__button:after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #1B1A17;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catalog-filter-item {
  position: relative;
  margin-bottom: 8%;
}

.catalog-filter__title {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.catalog-filter__reset {
  color: #1B1A17;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  border: 2px solid #E7E0CF;
  width: 100%;
  height: 60px;
}

.catalog-filter__button_active {
  display: inline-block;
  width: 10px;
  height: 1px;
  margin-top: 5px;
  background-color: #1B1A17;
  position: absolute;
  right: 0;
  top: 0.4%;
}

.catalog-filter__button_active:after {
  display: none;
}

.catalog-filter__filter {
  color: #1B1A17;
  font-size: 20px;
  border: 1px solid #1B1A17;
  padding: 5px;
  margin: 0 auto;
  display: none;
}

.catalog-items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin-left: 8.10%;
}

@media screen and (max-width: 768px) {
  .catalog-items {
    padding: 0;
    margin-left: 0;
  }
}

.catalog-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5%;
  border-left: 1px solid #eaeaea;
}

.catalog-items__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .catalog-items__arrow {
    display: none;
  }
}

.catalog-items__arrow-filter {
  color: #BDB9B5;
}

.catalog-items-item {
  width: 33.3%;
  padding: 0 20px;
  max-height: 300px;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

@media screen and (max-width: 1050px) {
  .catalog-items-item {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .catalog-items-item {
    width: 100%;
  }
  .catalog-items-item .catalog-items-social {
    right: 0;
  }
}

.catalog-items-container {
  display: block;
  position: relative;
  max-width: 252px;
  margin: 0 auto;
}

.catalog-items img {
  margin: 0 auto;
  display: block;
  width: auto;
  max-height: 265px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-items-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-items-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  position: absolute;
  z-index: 5;
  top: 1%;
  right: 0%;
}

.catalog-items-social button {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .catalog-filter_disable {
    margin-bottom: 20px;
    position: absolute;
    background: #fff;
    z-index: 20;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .catalog-filter_disable {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .catalog-filters {
    margin-bottom: 15px;
  }
  .catalog-filters__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #E7E0CF;
    padding: 10px;
  }
  .catalog-filters__filter i:before {
    color: #69c;
    font-size: 18px;
    margin-left: 5px;
  }
}

.subscription {
  padding: 6% 0;
  background-image: url(../img/back3.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.subscription .container {
  padding: 0 3.421% 0 13%;
}

.subscription__description {
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #818181;
  margin-bottom: 1.5%;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 980px) {
  .subscription-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.subscription-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 495px;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .subscription-form__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscription-form__title {
  max-width: 42%;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: #1B1A17;
}

@media screen and (max-width: 980px) {
  .subscription-form__title {
    max-width: 100%;
    margin-bottom: 5%;
    font-size: 35px;
  }
}

.subscription-form__input {
  max-width: 278px;
  width: 100%;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #31302C;
  background: initial;
  color: #444240;
}

@media screen and (max-width: 980px) {
  .subscription-form__input {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .subscription-form__input {
    margin-bottom: 5%;
    max-width: none;
    width: 100%;
  }
}

.subscription-form__btn {
  width: 185px;
  height: 60px;
  background-color: #31302C;
  color: #fff;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 420px) {
  .subscription-form__btn {
    width: 100%;
  }
}

.elem:hover {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}

@-webkit-keyframes trambling-animation {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10%,
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20%,
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes trambling-animation {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10%,
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20%,
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.like {
  fill: #1B1A17;
  stroke: #1B1A17;
}

.like svg {
  fill: #1B1A17;
  stroke: #1B1A17;
}

.like svg:hover {
  stroke: red;
}

.redFill svg {
  stroke: red;
}

.show {
  display: block;
}

.disabled {
  opacity: 0.5;
}

.hide {
  display: none;
  visibility: none;
}
/*# sourceMappingURL=catalog.css.map */