* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #1B1A17;
  background-color: #FDFDFB;
  font-family: 'Roboto', sans-serif;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  border: 0;
  background: initial;
}

.container {
  max-width: 1366px;
  width: 100%;
  height: 100%;
  padding: 0 3.421%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.introduction {
  position: relative;
  padding-top: 30px;
}

.introduction .special-span {
  position: relative;
}

.introduction .special-span:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  max-width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  width: 1em;
  top: 63%;
  left: -50%;
}

.introduction .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.introduction .social-media {
  position: absolute;
  top: 41%;
  height: 75px;
}

.introduction .social-media-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .introduction-content {
    max-height: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.introduction-content-image {
  position: relative;
}

@media screen and (max-width: 1050px) {
  .introduction-content-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 6%;
  }
}

.introduction-content-image img {
  height: auto;
  max-height: 100vh;
}

.introduction-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29%;
  margin-left: auto;
  position: relative;
  right: -4%;
  z-index: 1;
}

@media screen and (max-width: 1050px) {
  .introduction-content-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    margin-left: 0;
  }
}

.introduction-content__title {
  font-size: 2.8125rem;
  display: inline-block;
}

.introduction-content__collection {
  font-size: 1.875rem;
  margin-bottom: 7%;
}

.introduction-content__text {
  font-size: 0.875rem;
  width: 60%;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 15%;
}

@media screen and (max-width: 1050px) {
  .introduction-content__text {
    margin-bottom: 5%;
  }
}

.introduction-content__btn {
  background-color: #444240;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  max-width: 205px;
  max-height: 64px;
  height: 64px;
}

.introduction-price {
  position: absolute;
  left: 7.5%;
  top: 16.5%;
}

.introduction-price:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  max-width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  left: 124%;
}

.introduction-size {
  position: absolute;
  left: 7.5%;
  bottom: 22.5%;
}

@media screen and (max-width: 1050px) {
  .introduction-size {
    left: 4%;
  }
}

.introduction-size:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  max-width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  left: 110%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1256px;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-buttons-container {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  cursor: pointer;
}

.header-menu span {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #1B1A17;
  opacity: 0.5;
  position: relative;
  margin-right: 24px;
}

.header-menu span:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #1B1A17;
  top: -7px;
}

.header-menu span:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #1B1A17;
  top: 7px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

.price {
  font-family: 'Prata', serif;
}

.popular {
  padding: 8% 0;
}

.popular .container {
  padding: 0 6.1%;
}

.popular-title {
  text-align: center;
  font-size: 2rem;
}

.popular__link-all {
  margin-bottom: 25.5px;
  font-weight: 500;
}

.popular-watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-watches__title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
}

.popular-watches__price {
  font-size: 0.75rem;
}

.popular-watches-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-watches-text {
  padding-top: 6%;
}

.popular-watches-text-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-watches-text-second a {
  margin-top: auto;
  margin-left: 50px;
  position: relative;
}

.popular-watches-text-second a:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  max-width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  width: 30px;
  left: -50px;
}

.popular-watches .popular-watches-text-second {
  padding: 10% 0;
}

.popular-watches__item {
  width: 45%;
  max-height: 246px;
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-watches__item:nth-child(3) img {
  margin-top: auto;
  margin-left: auto;
}

.popular-watches__item:last-child img {
  margin-left: auto;
}

.popular-watches__item a {
  margin-top: auto;
  margin-left: 60.5%;
  position: relative;
}

.popular-watches__item a:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  max-width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  width: 30px;
  left: -50px;
}

.popular-watches__item:nth-child(1) {
  width: 29.4%;
}

.popular-watches__item_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 3%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-height: 493px;
}

.popular-watches__item_small a.popular-watches__more {
  margin-bottom: 10%;
  margin-left: 10%;
}

.popular-watches__item_big {
  width: 60.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 11px;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  max-height: 493px;
}

.popular-watches__item_big h3 {
  font-size: 1.125rem;
}

.popular-watches__item_big p {
  font-size: 1rem;
}

.popular-watches__item_big img {
  margin-left: auto;
  height: auto;
  width: inherit;
}

.popular-watches__item_big a.popular-watches__more {
  margin-top: auto;
  margin-left: 65%;
  position: relative;
}

.popular-watches__item_big a.popular-watches__more:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  max-width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 50%;
  left: -65px;
}

.popular-watches__item img {
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  height: auto;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.quality {
  background-image: url(../img/back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 52px;
  padding-bottom: 26px;
}

@media screen and (max-width: 808px) {
  .quality-images {
    width: 100%;
  }
}

.quality-images img {
  max-width: 521px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 808px) {
  .quality-images img {
    max-width: 100%;
  }
}

.quality .container {
  padding: 0 13%;
}

@media screen and (max-width: 808px) {
  .quality .container {
    padding: 0 10%;
  }
}

.quality-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 808px) {
  .quality-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.quality-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 387px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7%;
}

@media screen and (max-width: 808px) {
  .quality-text {
    margin-left: 0;
    max-width: 90%;
  }
}

.quality-text__title {
  margin-bottom: 10%;
}

@media screen and (max-width: 808px) {
  .quality-text__title {
    margin-bottom: 5%;
  }
}

.quality-text__text {
  margin-bottom: 12%;
  line-height: 150%;
}

@media screen and (max-width: 808px) {
  .quality-text__text {
    margin-bottom: 5%;
  }
}

.quality-text__button {
  background-color: #D4B098;
  font-size: 0.75rem;
  max-width: 205px;
  max-height: 64px;
  height: 64px;
}

.quality-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 14.5%;
}

@media screen and (max-width: 808px) {
  .quality-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-bottom: 5%;
  }
}

.quality-pagination__number {
  font-family: 'Prata', serif;
  font-size: 0.75rem;
  display: inline-block;
  margin: 0 20px;
}

.quality-pagination #arrow-left {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 15px;
}

.quality-pagination #arrow-left:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 1px;
  top: 30%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #1B1A17;
}

.quality-pagination #arrow-left:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 1px;
  bottom: 30%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  background-color: #1B1A17;
}

.quality-pagination #arrow-right {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 15px;
}

.quality-pagination #arrow-right:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 1px;
  top: 30%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: #1B1A17;
}

.quality-pagination #arrow-right:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 1px;
  bottom: 30%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background-color: #1B1A17;
}

.news {
  padding: 5.7% 0;
}

.news .container {
  padding: 0 7%;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 745px) {
  .news-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (max-width: 745px) {
  .news-images {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-images img {
    width: 100%;
  }
}

.news-images-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 10px;
}

@media screen and (max-width: 745px) {
  .news-images-first {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
    margin: 0;
  }
}

.news-images-first img:nth-child(1) {
  margin-bottom: 10px;
}

.news-images-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 745px) {
  .news-images-second {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
    margin-top: 10px;
  }
  .news-images-second img {
    width: 100%;
  }
}

.news-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 36px;
  width: 30%;
  margin-right: 30px;
}

@media screen and (max-width: 745px) {
  .news-text {
    padding-top: 0;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }
}

.news-text__text {
  margin: 34px 0;
  width: 100%;
}

.news-text-medias-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #444240;
  color: rgba(255, 255, 255, 0.75);
  padding: 67px 0;
}

.footer .container {
  padding: 0px 5vw;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 745px) {
  .footer-column {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}

.footer-column:first-child .footer-column__title {
  margin-bottom: 17px;
}

.footer-column__item {
  font-size: 12px;
  margin-top: 15px;
}

@media screen and (max-width: 745px) {
  .footer-column__item {
    text-align: center;
  }
}

.footer-column__item:last-child {
  margin-bottom: 0px;
}

.footer-column__title {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.07em;
  color: #fff;
  padding-top: 10px;
}

@media screen and (max-width: 745px) {
  .footer-column__title {
    padding: 0;
    font-size: 12px;
  }
}

.footer-contacts h4 {
  padding-top: 0;
}

@media screen and (max-width: 1150px) {
  .social-media {
    display: none;
  }
  .introduction-content__title {
    font-size: 35px;
  }
  .introduction-content__text {
    width: 90%;
  }
}

@media screen and (max-width: 808px) {
  .introduction-content__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 601px) {
  .introduction .container {
    padding: 0 5px;
  }
  .introduction .special-span {
    position: static;
  }
  .introduction-size {
    font-size: 14px;
  }
  .introduction-size:after {
    width: 1em;
  }
  .introduction-price:after {
    width: 1.2em;
  }
  .introduction-content__title {
    font-size: 22px;
  }
  .introduction-content__collection {
    font-size: 22px;
  }
  .introduction-content__btn {
    height: 48px;
  }
  .introduction-content__text {
    width: 100%;
  }
  .popular {
    padding-top: 10%;
  }
  .popular-watches-content {
    padding-left: 0;
  }
  .popular-watches__item {
    width: 100%;
  }
  .popular-watches__item_big .popular-watches__more {
    margin-left: 55%;
  }
  .popular-watches__item_big .popular-watches__more:before {
    left: -100%;
    width: 1.5em;
  }
  .popular-watches__item__more {
    margin-left: 55%;
  }
  .popular-watches__item__more:before {
    left: -100%;
    width: 1.5em;
  }
  .popular-watches__item-content {
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */