// mixins //
@function get-vw($target) {
   $vw-context: (1366*.01) * 1px;
   @return ($target/$vw-context) * 1vw;
}

@function get-rem($target) {
   @return ($target/16) * 1rem;
}

@mixin roboto {
   font-family: 'Roboto', sans-serif;
}

@mixin playfair {
   font-family: 'Playfair Display', serif;
}

@mixin prata {
   font-family: 'Prata', serif;
}

@mixin line {
   content: '';
   position: absolute;
   display: inline-block;
   width: 2em;
   max-width: 50px;
   height: 1px;
   background-color: #8B8371;
   top: 50%;

}


// styles //
* {
   box-sizing: border-box;
}
html {
   overflow: visible;
}
body {
   color: #1B1A17;
   background-color: #FDFDFB;
   font-family: 'Roboto', sans-serif;

}
img {
   object-fit: contain;
}
button {
   border: 0;
   background: initial;
}

.container {
   max-width: 1366px;
   width: 100%;
   height: 100%;
   padding: 0 3.421%;
   margin: 0 auto;
}

.visually-hidden {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0 !important;
   border: 0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

.introduction {
   position: relative;
   .special-span {
      position: relative;
      &:before {
         @include line;
         width: 1em;
         top: 63%;
         left: -50%;
      }
   }
   .wrapper {
      width: 100%;
      height: 100%;
      position: relative;
   }

   .social-media {
      position: absolute;
      top: 41%;
      height: 75px;

      &-list {
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
      }
   }

   &-content {
      display: flex;
      
         @media screen and (max-width: 1050px) {
            max-height: none;
            flex-wrap: wrap;
            flex-direction: column;
         }
         &-image {
            position: relative;
            @media screen and (max-width: 1050px) {
               order: 1;
               display: flex;
               justify-content: center;
               margin-bottom: 6%;
            }
               img {
                  height: auto;
                  max-height: 100vh;
               }
         }
         &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 29%;
            margin-left: auto;
            position: relative;
            right: -4%;
            z-index: 1;
            @media screen and (max-width: 1050px) {
               order: 2;
               width: 90%;
               margin-left: 0;
            }
         }

      &__title {
         font-size: get-rem(45);
         
         display: inline-block;

       
      }

      &__collection {
         font-size: get-rem(30);
         margin-bottom: 7%;
      }

      &__text {
         font-size: get-rem(14);

         
         width: 60%;
         color: rgba(27, 26, 23, 0.82);
         margin-bottom: 15%;
         @media screen and (max-width: 1050px) {
            margin-bottom: 5%;
         }
      }

      &__btn {
         background-color: #444240;
         
         font-size: get-rem(12);
         letter-spacing: 0.05em;
         max-width: 205px;
         max-height: 64px;
         height: 64px;
      }
   }

   &-price {
      position: absolute;
      left: 7.5%;
      top: 16.5%;

      &:after {
         @include line;
         left: 124%;
      }
   }

   &-size {
      position: absolute;
            left: 7.5%;
            bottom: 22.5%;
            @media screen and (max-width: 1050px) {
               left: 4%;
            }
            &:after {
               @include line;
               left: 110%;
            }
         }
      
   
   }

   .header {
      display: flex;
      width: 100%;
      max-width: 1256px;

      &-buttons {
         display: flex;
         width: 100%;
         justify-content: space-between;

         &-container {
            max-width: 100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
         }
      }

      &-menu {
         cursor: pointer;

         span {
            display: inline-block;
            width: 18px;
            height: 2px;
            background-color: #1B1A17;
            opacity: 0.5;
            position: relative;
            margin-right: 24px;

            &:before {
               content: '';
               position: absolute;
               display: inline-block;
               width: 18px;
               height: 2px;
               background-color: #1B1A17;

               top: -7px;
            }

            &:after {
               content: '';
               position: absolute;
               display: inline-block;
               width: 18px;
               height: 2px;
               background-color: #1B1A17;

               top: 7px;
            }
         }
      }
   }


.btn {
   @include roboto;
   border: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   text-transform: uppercase;
   font-size: get-rem(12);
      
      &:hover {
         color: #fff;
         background-color: #000;
      }
}

p {
   @include roboto;
}

h1,
h2,
h3 {
   @include playfair;
   font-weight: 400;
}
h2 {
   font-size: get-rem(32);
}

.price {
   @include prata;
}

.popular {
   padding: 8% 0;
   .container {
      padding: 0 6.1%;
   }
   &-title {
      text-align: center;
      font-size: get-rem(32);
   }

   &__link-all {
      margin-bottom: 25.5px;
      font-weight: 500;

   }

   &-watches {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      &__title {
         margin-bottom: 5px;
         text-transform: uppercase;
         font-size: get-rem(14);
         font-weight: bold;
      }

      &__price {
         font-size: get-rem(12);
      }

      &-content {
         display: flex;
         padding-top: 5%;
         padding-left: 5%;
         padding-bottom: 7%;
         flex-direction: column;
      }

      &-text {
         
         padding-top: 6%;
      }

      &-text-second {
      
         display: flex;
         flex-direction: column;
            

         a {
            margin-top: auto;
            margin-left: 50px;
            position: relative;
               &:before {
                  @include line;
                  width: 30px;
                  left: -50px;

               }
         }
      }
      .popular-watches-text-second {
         
               padding: 10% 0;
            }

      &__item {
         width: 45%;
         max-height: 246px;
         padding-left: 3vw;
            
            &:nth-child(3) {
               img {
                  margin-top: auto;
                  margin-left: auto;
               }
            }
            &:last-child {
               img {
                  margin-left: auto;
               }
            }
         a {
           margin-top: auto;
           margin-left: 60.5%;
            position: relative;
               &:before {
                  @include line;
                  width: 30px;
                  left: -50px;

               }
            }

        


         display: flex;

         &:nth-child(1) {
            width: 29.4%;


         }

         &_small {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 3%;
            flex: 1 1 0;
            max-height: 493px;
               a.popular-watches__more {
                  margin-bottom: 10%;
               margin-left: 10%;
               }

          
            
         }

         &_big {
            width: 60.5%;
            display: flex;
            padding: 0 11px;
            flex-direction: inherit;
            max-height: 493px;

            h3 {
               font-size: get-rem(18);
            }

            p {
               font-size: get-rem(16);
            }

            img {
               margin-left: auto;
               height: auto;
               width: inherit;
            }

            a.popular-watches__more {
              
               margin-top: auto;
              
               margin-left: 65%;

               position: relative;
                  &:before {
                     @include line;
                     left: -65px;
                  }
            }
         }

         img {
            object-fit: contain;
            display: inline-block;
            height: auto;
            overflow: hidden;
         }

      }
   }
}

.link-container {
   display: flex;
   justify-content: flex-end;
}
.quality {
   background-image: url(../img/back2.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 52px;
   padding-bottom: 26px;
      &-images {
            @media screen and (max-width: 808px) {
               width: 100%;
            }
         img {
            max-width: 521px;
            width: 100%;
            height: auto;
            object-fit: cover;
            @media screen and (max-width: 808px) {
               max-width: 100%;
            }
         }
      }
   .container {
      padding: 0 13%;
      @media screen and (max-width: 808px){
         padding: 0 10%;
      }
   }
     
   &-container {
      display: flex;
      // padding-left: 120px;
      @media screen and (max-width: 808px){
         flex-wrap:wrap;
      }
   }
      &-text {
         display: flex;
         max-width: 387px;
         flex-direction: column;
         justify-content: center;
         margin-left: 7%;
         @media screen and (max-width: 808px){
         margin-left: 0;
         max-width: 90%;
         }

         &__title {
            margin-bottom: 10%;
            @media screen and (max-width: 808px) {
               margin-bottom: 5%;
            }
         }
     
      &__text {
         margin-bottom: 12%;
         line-height: 150%;
         @media screen and (max-width: 808px) {
            margin-bottom: 5%;
         }
      }
      &__button {
         background-color: #D4B098;
         font-size: get-rem(12);
         max-width: 205px;
         max-height: 64px;
         height: 64px;
        
      }
   }

   &-pagination {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 14.5%;
      @media screen and (max-width: 808px){
         justify-content: center;
         margin: 0;
         margin-bottom: 5%;
      }

         &__number {
            @include prata;
            font-size: get-rem(12);
            display: inline-block;
            margin: 0 20px;
         }
         #arrow-left {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 15px;
            
            
            &:before {
               content: '';
               position: absolute;
               display: inline-block;
               width: 7px;
               height: 1px;
               top: 30%;
               transform: rotate(135deg);
               background-color: #1B1A17;
            }
            &:after {
               content: '';
               position: absolute;
               display: inline-block;
               width: 7px;
               height: 1px;
               bottom: 30%;
               transform: rotate(40deg);
               background-color: #1B1A17;
            }
         }
         #arrow-right {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 15px;
            &:before {
               content: '';
               position: absolute;
               display: inline-block;
               width: 7px;
               height: 1px;
               top: 30%;
               transform: rotate(-135deg);
               background-color: #1B1A17;
            }
            &:after {
               content: '';
               position: absolute;
               display: inline-block;
               width: 7px;
               height: 1px;
               bottom: 30%;
               transform: rotate(-40deg);
               background-color: #1B1A17;
            }
         }
   }
}

.news {
   padding: 5.7% 0;
   .container {
      padding: 0 7%;
   }

      &-container {
         display: flex;
         @media screen and (max-width: 745px){
            
            flex-wrap:wrap;
         }
      }
      &-images {
         display: flex;
         flex-shrink: 1;
            @media screen and (max-width: 745px){
               flex-shrink: 1;
               flex-wrap:wrap;
                  img {
                     width: 100%;
                  }
            }

            &-first {
               display: flex;
               flex-wrap: wrap;
               flex-direction: column;
               flex-shrink: 1;
               justify-content: space-evenly;
               margin-right: 10px;
               @media screen and (max-width: 745px){
                  flex-shrink: 1;
                  width: 100%;
                  margin: 0;
               }
                  img:nth-child(1) {
                     margin-bottom: 10px;
                  }
            }
            &-second {
               display: flex;
               @media screen and (max-width: 745px){
                  flex-shrink: 1;
                  width: 100%;
                  margin-top: 10px;
                     img {
                        width: 100%;
                     }
               }
            }
      }
      &-text {
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding-top: 36px;
         width: 30%;
         margin-right: 30px;
         @media screen and (max-width: 745px){
           padding-top: 0;
           margin-bottom: 30px;
           margin-right: 0;
           width: 100%;
         }

            &__title {
              
            }
            &__text {
               margin: 34px 0;
         width: 100%;
         @media screen and (max-width: 745px){
            
         }
      }
      &-medias-list {
         display: flex;
         width: 95px;
         justify-content: space-between;
         align-items: center;
      }
   }
}

.footer {
   background-color: #444240;
   color: rgba(255, 255, 255, 0.75);
   padding: 67px 0;
   .container {
      padding: 0px 5vw;
   }
      &-container {
         display: flex;
         align-items: flex-start;
         // padding: 0 72px;
         justify-content: space-between;
         flex-wrap: wrap;
      }
      &-column {
         display: flex;
         flex-direction: column;
         @media screen and (max-width: 745px){
            width: 50%;
            align-items: center;
            margin-bottom: 15px;
         }
         &:first-child {
            .footer-column__title {
               
               margin-bottom: 17px;
            }
         }

         &__item {
            font-size: 12px;
           margin-top: 15px;
            
            &:first-child {
               margin-top: 0;
            }

            @media screen and (max-width: 745px){
               text-align: center;
            }  
               
               &:last-child {
                  margin-bottom: 0px;
               }
         }
            &__title {
               text-transform: uppercase;
               font-size: 14px;
               letter-spacing: 0.07em;
               color: #fff;
               padding-top: 10px;
               
               @media screen and (max-width: 745px){
                  padding: 0;
                  font-size: 12px;
               }
               
            }

      }
      &-contacts {
         h4 {
            padding-top: 0;
         }
      }
}

@media screen and (max-width: 1150px) {
   .social-media {
      display: none;
   }
   .introduction {
      &-content {
         &__title {
            font-size: 35px;
         }
         &__text {
            width: 90%;
         }
      }
   }
}
@media screen and (max-width: 808px) {
   .introduction {
         &-content {
            &__title {
               font-size: 30px;
            }
         }
   }
}
@media screen and (max-width: 601px) {
   .introduction {
      .container {
         padding: 0 5px;
      }
      .special-span {
         position: static;
      }
         &-size {
            font-size: 14px;
               &:after {
                  width: 1em;
               }
         }
         &-price {
               &:after {
                  width: 1.2em;
               }
         }
         &-content {
            &__title {
               font-size: 22px;
            }
            &__collection {
               font-size: 22px;
            }
            &__btn {
               height: 48px;
            }
            &__text {
               width: 100%;
            }

         }
   }
   .popular {
      padding-top: 10%;
         &-title {
            margin-bottom: 15px;
         }
      &-watches {
         &-content {
            padding-left: 0;
         }
         &__item {
         width: 100%;
            h3 {
               font-size: 14px;
            }
            p {
               font-size: 12px;
            }
            a {
               font-size: 12px;
            }
         &_big {
            .popular-watches__more {
               margin-left: 55%;
               &:before {
                  left: -100%;
                  width: 1.5em;
               }
            }
      }
      &__more {
         margin-left: 55%;
            &:before {
               left: -100%;
               width: 1.5em;
            }
      }
      &-content {
         padding-left: 0;
      }
      }
   }
   }
}

i.fa-chevron-right, i.fa-chevron-left {
   font-size: 13px;
}

.menu-wrap {
   position: fixed;
   top: 0;
   left: 2%;
   z-index: 1;
   display: none;
}

.menu-wrap .toggler {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   cursor: pointer;
   width: 50px;
   height: 50px;
   opacity: 0;
}

.menu-wrap .hamburger {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 50px;
   height: 50px;
   padding: 1rem;
   background: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
   position: relative;
   flex: none;
   width: 100%;
   height: 2px;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
   content: '';
   position: absolute;
   z-index: 1;
   top: -10px;
   width: 100%;
   height: 2px;
   background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
   top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
   transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
   top: 0;
   transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
   transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
   visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
   transform: scale(1);
   transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
   opacity: 1;
   transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.menu-wrap .menu>div {
   background: #182733d9;
   width: 200vw;
   height: 200vh;
   display: flex;
   flex: none;
   align-items: center;
   justify-content: center;
   transform: scale(0);
   transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
   text-align: center;
   max-width: 90vw;
   max-height: 100vh;
   opacity: 0;
   transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
   list-style: none;
   color: #fff;
   font-size: 1.5rem;
   padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
   color: inherit;
   text-decoration: none;
   transition: color 0.4s ease;
}

@media screen and (max-width: 768px) {

   .header {
      position: fixed;
      z-index: 20;
      height: 41px;
      padding: 1% 0;
      background-color: #fff;

      &-buttons__logo {
         margin: 0 auto;
      }



      &-menu {
         height: 100%;
      }
   }

   .menu-wrap {
      display: block;

      .toggler {
         height: 41px;
      }

      .hamburger {
         height: 41px;
      }

   }

   .nav {
      display: none;
      visibility: hidden;
   }

   .pages {
      padding-top: 5%;
      margin-bottom: 10%;
   }

   .catalog-filter-title {
      margin-bottom: 7%;
   }

   .catalog-filters {
     flex-direction: column;
   }

   .catalog-filters_-filter {
      margin-bottom: 5%;
   }
}

@media screen and (max-width: 420px) {

   .pages {
      padding-top: 15%;
   }


   .catalog-filters__filter {
      margin-bottom: 10%;
   }

   .catalog-select-container {
      flex-wrap: wrap;
      justify-content: center;
   }
}


.header {
   padding-top: 2%;
   color: #555248;
   font-size: 14px;
   margin: 0 auto;
   max-width: inherit;

   &-menu {
      display: flex;
      width: 100%;
   }

   &-buttons {
      display: flex;
      justify-content: space-between;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-container {
         display: flex;
         justify-content: space-between;
         max-width: 60px;
         width: 15%;
      }
   }

   .nav {
      max-width: 430px;
      width: 100%;


      &-list {
         display: flex;
         max-width: 430px;
         width: 100%;
         justify-content: space-between;

         &__item_active {
            color: #A69876;
         }
      }
   }
}